@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT STYLING */
:root {
  --color-background: #ffffff;
  --color-primary: #6366f1;
  --color-primary-darker: #4338ca;
  --color-selection: rgba(92, 113, 252, 0.25);
  --color-text: #000;
  --color-p: #000;

  /* Font rendering, smoothing, adjusting */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--color-selection);
  /* color: #fff; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* THEME */
html {
  color-scheme: dark light;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'SF Pro',
    'San Francisco Pro', 'Helvetica Neue', Helvetica, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;

  background-color: var(--color-background);
  color: var(--color-text);

  min-height: 100vh;

  /* overflow: hidden; */
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select,
a,
a:link,
a:visited,
a:hover,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  outline: none;
}

/* active element outline */
:focus {
  outline: 2px solid var(--color-darker);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--color-primary);
}

p {
  color: var(--color-p);
}

/* UTILITIES */
.wordSpacingTight {
  word-spacing: -0.2em;
}

.wordSpacingCompact {
  word-spacing: -0.1em;
}

.wordSpacingPrice {
  word-spacing: -0.33em;
}

/* TODO: Move to separate component */
.productDetailButton {
  border: 2px solid #000;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 1);
}

.productDetailButton:hover {
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
  transform: translateX(3px) translateY(1px);
  transition: all 0.15s ease-in-out;
}

/* TODO: Move to separate component */
.marquee {
  overflow: hidden;
}

.marquee section {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee section:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* DARK MODE */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
