.hamburgerMenuLink {
  font-size: 1.25rem !important;

  display: inline-block;
  margin: 0;

  &:after {
    position: relative;
    top: -3px;
    display: block;
    content: '';
    border-bottom: solid 1px #000;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;

    /* from left */
    transform-origin: 0% 50%;

    /* from right */
    /* transform-origin: 100% 50%; */
  }

  &:hover:after {
    transform: scaleX(1);
  }
}
