/* links - expand bottom border on hover */
/* @see https://stackoverflow.com/questions/28623446/hover-effect-expand-bottom-border#:~:text=To%20expand%20the%20bottom%20border,1%20on%20the%20hover%20state.&text=The%20border%20and%20transition%20are,text%20and%20avoid%20adding%20markup. */
.headerLink {
  font-size: 1.25rem !important;

  display: inline-block;
  margin: 0;

  &:after {
    position: relative;
    top: -3px;
    display: block;
    content: '';
    border-bottom: solid 1px #000;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;

    /* from left */
    transform-origin: 0% 50%;

    /* from right */
    /* transform-origin: 100% 50%; */
  }

  &:hover:after {
    transform: scaleX(1);
  }
}
